.btn-header {
  color: white;
}

body {
  font-family: "Roboto";
  background: #eef1f3;
}
.edit,
.setting,
.update {
  display: inline-block;
  background: url("png.png") no-repeat;
  width: 22px;
  height: 27px;
}

.edit {
  background-position: 0px -0px;
}
.setting {
  background-position: 0px -28px;
}
.update {
  background-position: 0px -56px;
}

icon a {
  color: inherit;
}

header h1 {
  transform: scale(1, 1.5);
}

.main {
  background: linear-gradient(to bottom, #f8f8f8, #d4d4d4);
}
